.stars {
  display: flex;
  width: 96px;

  &__icon {
    width: $star-size;
    height: $star-size;
    margin-right: $star-margin;

    line-height: 16px;

    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:last-child {
      margin-right: 0;
    }
  }

  @for $i from 1 through 5 {
    &--#{$i} .stars__icon:nth-child(-n + #{$i}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
