$font-primary: Roboto, sans-serif;
$card-width: 200px;
$card-padding: 16px;
$computer-width: 160px;
$computer-height: 134px;
$computer-margin: 32px;
$productname-margin: 40px;
$productcode-margin: 4px;
$rating-margin: 16px;
$price-margin: 24px;
$button-margin: 16px;
$button-height: 40px;
$color-white: #fff;
$color-border: #f3f3f3;
$border-radius: 5px;
$color-blue: #00acdc;
$color-productname: #060b35;
$star-size: 16px;
$star-margin: 4px;
$small-fontsize: 10px;
$small-lineheight: 14px;
$large-fontweight: 700;
$normal-fontweight: 500;
$normal-fontsize: 12px;
$normal-lineheight: 18px;
$button-fontsize: 14px;
$extranormall-fontsize: 16px;
